
// Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/
@import 'bootstrap';

@import 'owl-carousel';

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700,400italic,700italic|Roboto+Slab:400,100,300,700);


//
// Variables
//
$brand-primary: #AAA;
$brand-success: #222;
$brand-logo-yel: #FFED00;
$brand-logo-ora: #F18700;
$brand-logo-gre: #808080;

$gray-lighter: lighten(#000, 93.5%);


//
// Base styles
//
body {
  min-width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
	font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $brand-success;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}



//
// Navbar
//
#navbar-collapse {
  background-color: $brand-success;
  border-bottom: solid 1px #333;
}

.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  a:focus {
    outline: none;
  }

  .navbar-nav {
    letter-spacing: 1px;
    li {
      a:focus {
        outline: none;
      }
    }
  }
}

.navbar-default,
.navbar-inverse {
  border: none;
}


.navbar-fixed-top {
  padding: 0px;
  height: 51px;
  transition: margin-top 0.5s ease;
}


.navbar-inverse .navbar-nav > li > a {
  transition: color 0.3s ease;
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffed00;
}



//
// Schedule
//
#schedule {
  .container {
    h4 {
      padding: 20px;
      background: #eee;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}



//
// Stars
//
hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;

    &:after {
      width: 32px;
      height: 32px;
      content: ' ';
      position: relative;
      background-repeat: no-repeat;
      background-position-x: 1px;
      padding-top: 25px;
      padding-right: 33px;
    }
}

hr.star-light {
  border-color: white;

  &:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABxUlEQVRYR72X/VHCQBDF36tAqUDsQCtQO7AEqUCtQDpQK9AS7EBTgXQgVGCsYJ3HXJiE3F2STeD+gRnY3d/u7dcRI46ZnUqcZOlVQ6+g5MxsrQ+S5149bgAzuwPwFgwvSL57IMYAyPuzYHTtjYILYM/7ynFXFLwAde8rAFcUBgMkvHdHwQMQ894dhUEAHd67ojAUIOe9KwpJADObhzK7AKCOdwtA3/ucFYAPAOqQ+r4hKfjWYTB0BUAGK2PXfaw4/vNVgxJQIQBRnjiUTSFSCmAJ4GkKbQ4di20O9Mxuh/6syLZz7pLwyBC7tt2ogiNBNGZGqwwPDNEaWNE+cCCI6LTMNaL6wjE2AZOjOtuKzewFwP1I668kH1I6ugDUudQlx5yCZLKzdgFM0SWzi0ouBzSAfse4XpOdpVb3HIDC9jkRwA1JXWd7GqYMmJkS53kigEeSSuhBAH0qoAgauxI1WQm5K8hVgAwvq7Cama5LUzUFkqyEHECsAjbBcPQVFDqoQKoHSxXykuSs9xWELemnJpA1vK84ARKthNQs0Gr2DeAveBxNoK4EDYmsiGjjuiSp/bBxclcgCDUR99NblsITfh4zrt//ASPcwoeSHS5LAAAAAElFTkSuQmCC');
    background-color: $brand-success;
    color: white;
  }
}

hr.star-primary {
    border-color: $brand-primary;

  &:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACAUlEQVRYR72X0XHCMAxAJXP5LkxQugGdALpB+Yg5/soEpROUDdpO0P5xOB90g5IJygYNE5R+c1g95QIHJI4TJ+Cv3MWSnmRJlhEqrPl83mTxfr+/dlWDroIsp5SKiIgGg8GNqx5nAKXUAwC8J4ZHUsoPF4gqABEAXLNRIopco+AEcOL9znGnKLgC7L3fWXeNQmkAg/fOUXABSHlfJQqlACzeO0WhLIDRe9coGAGm02m70WhwmXUQsUlE9/xdsNaXiPhJRNwhl9vtdjUcDhk+tZANCSG6Qoi21jo2BgC9gobKblswlBBiqbWOtNYhKqWY8qqsppr2r3E2m00Q8bkmhWXVjOIcKJjdZZXb9sedc5+EF4bYt+2jKrgQxNGdkSrDM0OkLqzMPnAmiMzb0tiIaoYwXtW5rVgp9QoAj7Z0tvx/k1KOTXtsAAsA6FYECKWUxs5qA6jcJW2DihGAR+7NZvNb0ftY3PO8lml0NwIEQdAjoq86ABDxzvd9Ps70bWgyEATBmIheagJ48n2fE7o4QMEKCBONtkQ1VkJeH8irgBARJ7uwJsc1yakYYyXkAWRVwAoAJqZXUNK8GCR+sBystZSyVfgIknHs50Ag1/Cp4iwQUyWY7gKe/b4B4C8JdWYC2RI0SWSOCE9ct1LK5alM3hF0PM+Lqjy92VjST9pZxvn/P6W7+IEyBfXBAAAAAElFTkSuQmCC');
    background-color: white;
    color: $brand-primary;
  }
}



//
// Buttons
//

.btn {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;

  font-size: 14px;
  height: 41px;
  padding: 7px 0px 7px;
  width: 105px;

  &:focus,
  &:active {
    outline: none;
  }
}

.btn-register {
  background: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: white;
}

.send-btn {
  margin-left: 50px;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $brand-success;
    background: white;
    border: solid 2px white;
  }
}






//
// Register
//
.register-jumbotron {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;

  h3 {
    padding-bottom: 20px;
  }
}



//
// Cover
//
.bg {
  background-image: url('../img/bg_back_.jpg');
  background-size: cover;
  position: relative;
  width: 100%;
}

.bg > .overlay {
  width:100%;
  height:100%;
  position:absolute;
  background-color:#000;
  opacity:0.4;
}


header {
	text-align: center;
	background: $brand-success;
	color: white;

	.container {
		padding-top: 100px;
		padding-bottom: 50px;
	}

	img {
		display: block;
		margin: 0 auto 0;
	}

  .img-logo-heading {
    width: 60%;
  }

  .intro {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.0em;
    font-weight: 100;
    text-transform: uppercase;
  }

  .intro-strapline {
    margin-top: -1.7%;
    padding-right: 25%;
    padding-bottom: 25px;
    padding-left: 25%;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, .9);
  }

  .intro-text {
      color: rgba(255, 255, 255, 1);

    .moving_text {
      display: list-item;
      list-style: none;
      text-decoration: none;
    }
  }

  .tag {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    color: rgba(255,255,255,0.65);
    display: inline-block;
    font-size: 18px;
    line-height: 100%;
    margin: 4px 5px 0px;
    padding: 6px 10px;
  }

  .location-tag {
    padding-top: 75px;
  }

  .intro-tags {
    padding: 5px;
  }

  .btn {
    margin-top: 10px;

    &:hover {
      border: 2px solid $brand-logo-yel;
    }
  }
}


header .btn-register {
  transition: color 0.1s ease,
              border 0.1s ease;
}
header .btn-register:hover {
  color: white;
}

.logo {
  max-height: 50px;
}





//
// Carousel
//
.carousel-item {
  margin-top: 50px;
  background-color: #fff;
}

.carousel-title {
  padding: 1px;
}

.carousel-detail {
  padding: 25px;
  text-align: justify;
}

.carousel-link img {
  width: 100%;
}

.carousel-nav {
  transition: color 1s ease;
  /* color: rgba(0,0,0,0.5); */
  /* text-shadow: 0px 0px 5px rgba(0,0,0,0.5); */
  position: absolute;
  margin-top: -10px;
  margin-left: 30px;
  z-index: 2;
  font-size: 40px;
  cursor: pointer;
}

.carousel-nav:hover {
  color: rgba(0,0,0,0.8);
}

section#carousel {
  padding-top: 10px;
}

.owl-carousel {
  color: #222
}

.owl-dots {
  position: absolute;
  width: 100%;
  /* put the dots at the top */
  top: 10px;
}
.owl-dot {
  /* Make the dots bigger */
  zoom: 1.3;
}

.owl-theme .owl-dots .owl-dot span {
  background: #e8b608;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #b38b01;
}






//
// Footer
//

footer {
  background: $brand-primary;
  .container {
    padding: 120px 0 20px;
    color: #fff;
    text-align: center;
    p {
      margin-top: 10px;
    }
    .copy {
      margin-top: 100px;
      font-size: 90%;
      a {
        color: $brand-logo-yel;
      }
    }
    .hacksoc {
      color: white !important;
      .hacksoc_green {
        color: #73F273;
      }
    }

    h3 {
      line-height: 120%;
      width: 50%;
      margin: 0 auto;
      text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-weight: 900;
    }

    .social {
      margin: 1em 0 2em;
      padding-left: 0;
      li {
        display: inline-block;
        margin: 0 5px;
        a {
          display: block;
          width: 40px; height: 40px;
          text-indent: -9999px;
          opacity: 0.5;
        }
        a:hover { opacity: 1; }
      }
      li.facebook a  { background-image: url("../img/social_facebook.png");}
      li.twitter a   { background-image: url("../img/social_twitter.png");}
    }
  }

}





//
// Other
//
.media-pack {
  text-decoration: underline;
  color: #919CFF;
  font-size: 15px;
}


.speakers-text {
  padding-top:50px;
}

.email-text {
  text-decoration: underline;
  color: #919CFF;
}


section {
  padding: 60px 0;

  h2 {
    margin: 0;
    font-size: 3em;
  }
}

section.success {
  background: $brand-success;
  color: white;
}

#about p {
    margin-bottom: 25px;
}

.sponsor-img {
  padding-bottom: 20px;
  text-align: center;
}

#map {
    width: 100%;
  height: 450px;
}

#faq a {
    color: #fff;
}







// ---------------------------------------------------------------------------
// ----------------------------- MOBILE --------------------------------------
// ---------------------------------------------------------------------------



@media(min-width:768px) {
  header {
    .container {
      padding-top: 150px;
      padding-bottom: 100px;
    }
    .intro-text {
      font-size: 1.9em;
      font-weight: 100;
    }
  }
  .register-jumbotron {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }
}


@media(max-width:768px) {
  header {
    .intro-text {
      font-size: 1.5em;
      font-weight: 100;
    }
    .intro-strapline {
      padding-right: 0;
      padding-left: 0;
      padding-top: 10px;
    }
    .img-logo-heading {
      width: 80%;
    }

  }
}

@media(max-width:500px) {
  header {
    .img-logo-heading {
      content:url("../img/logo.png");
    }
  }
}



@media(max-width:767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }

  #schedule .container h4 {
    width: 250px;
  }

  .panel_head2 h3 {
    font-size: 1px !important;
  }

  .register-jumbotron {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 769px) {
  .sponsor-img {
    margin: 0;
  }
}

@media (max-width: 1500px) {
  #map {
    width: 400px !important;
    height: 600px !important;
  }
}

@media (max-width: 1200px) {
  #map {
    width: 100% !important;
    height: 600px !important;
    margin-top: 75px;
  }
}

