<div class="splash"><img class="fullimg" src="http://placekitten.com/g/5000/2000"></div>

<div class="container-fluid">
	<div class="carousel-nav carousel-left" ng-click="prev()"><i class="fa fa-chevron-circle-left"></i></div>
	<div class="carousel-nav carousel-right" ng-click="next()"><i class="fa fa-chevron-circle-right"></i></div>
	<div class="owl-carousel">
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/199" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/201" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/202" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/203" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/204" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/200" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/200" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam.</p>
			</div>
		</div>
		<div class="carousel-item">
			<div class="carousel-title text-center">
				<h3>Lorem Ipsum</h3>
			</div>
			<a class="carousel-link">
				<img src="http://placekitten.com/500/200" >
			</a>
			<div class="carousel-detail">
				<h5 class="text-muted text-center">Graphic Design</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at turpis est. Nullam sodales, odio ut rutrum consequat, eros lacus condimentum purus, eu congue enim nisi ut dui. Nam vehicula, lacus vitae fermentum molestie, turpis elit sodales ligula, quis imperdiet nunc sapien a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas sit amet ligula erat. Integer quis diam eget mauris posuere lacinia. Suspendisse ac feugiat augue, ac convallis ipsum. Etiam ac quam ipsum. Praesent sit amet nibh diam.</p>
			</div>
		</div>
	</div>
</div>