<footer class="text-center">
  <div id="base">
    <div class="container">

	<p id="quote"></p>

      <p class="copy">Designed by <br>
        <a href="http://www.harrymt.com/" target="_blank">harrymt</a> for <a class="hacksoc" href="http://www.hacksocnotts.co.uk/">hacksoc</a>
      </p>
      <ul class="social">
        <li class="facebook"><a href="https://www.facebook.com/witnotts" target="_blank">Facebook</a></li>
        <li class="twitter"><a href="https://twitter.com/inspireWIT" target="_blank">Twitter</a></li>
      </ul>
    </div>

</footer>
