<section>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Speakers</h2>
      <hr class="star-primary">
    </div>
  </div>

<ul class="list">

    <li class="list-item">
      <div class="list-content">
        <h2>Carrie Anne Philbin</h2>

                  <h3>Education Pioneer</h3>
        
                  <h3>Raspberry Pi Foundation</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@MissPhilbin">@MissPhilbin</a></h3>
        

        <a target="_blank" href="//about.me/carrieannephilbin">
          <img src="img/speakers/CarrieAnnePhilbin.jpg" alt="" />
        </a>

        <p>Carrie Anne Philbin is an award winning secondary Computing & ICT teacher who now leads the education mission as Education Pioneer at the Raspberry Pi Foundation. Author of ‘Adventures in Raspberry Pi’ a physical computing book for teenagers wanting to get started with Raspberry Pi and programming. Carrie Anne is the creator of a YouTube series for teenage girls called The Geek Gurl Diaries, which won her a Talk Talk Digital Hero Award in 2013.</p>
        <a target="_blank" href="//about.me/carrieannephilbin">More about Carrie</a>
      </div>
    </li>



    <li class="list-item">
      <div class="list-content">
        <h2>Jocelyn Spence</h2>

                  <h3>Performative Experience Design</h3>
        
                  <h3>Mixed Reality Laboratory, UoN</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@stronglanguage">@stronglanguage</a></h3>
        

        <a target="_blank" href="//JocelynSpence.com">
          <img src="img/speakers/JocelynSpence.jpg" alt="" />
        </a>

        <p>Jocelyn Spence is a human-computer interaction, experience design, and performance researcher working in the field of Performative Experience Design. Her research combines performance theory and practice - performance like the kind on a stage, not like the speed of your processor! - with design-oriented research. After two research fellowships at the University of Surrey, I am now a Visiting Researcher at the Mixed Reality Laboratory at the University of Nottingham.</p>
        <a target="_blank" href="//JocelynSpence.com">More about Jocelyn</a>
      </div>
    </li>



    <li class="list-item">
      <div class="list-content">
        <h2>Robyn Taylor</h2>

                  <h3>Participatory Performance Research</h3>
        
                  <h3>Open Lab, Newcastle University</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@humanaquarium">@humanaquarium</a></h3>
        

        <a target="_blank" href="//robyntaylor.com">
          <img src="img/speakers/RobynTaylor.jpg" alt="" />
        </a>

        <p>Robyn Taylor is a Canadian singer and researcher working in Open Lab at Newcastle University. Robyn uses participatory performance as a creative and investigatory medium, inviting members of the public to engage in improvisational performances. Through staging and evaluating playful collaborative experiences, her research explores issues in human-computer interaction surrounding creative agency and social encounters in public spaces.</p>
        <a target="_blank" href="//robyntaylor.com">More about Robyn</a>
      </div>
    </li>



    <li class="list-item">
      <div class="list-content">
        <h2>Shima Barakat</h2>

                  <h3>Research & Teaching Fellow</h3>
        
                  <h3>University of Cambridge</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@valuesdoc">@valuesdoc</a></h3>
        

        <a target="_blank" href="//www.cam.ac.uk/women-at-cambridge/profiles/shima-barakat">
          <img src="img/speakers/ShimaBarakat.png" alt="" />
        </a>

        <p>Shima is the director of two programmes for PhDs at the University of Cambridge, supporting the development of technology entrepreneurs and the commercialisation of technology, including the only programme for women STEM researchers. Shima is also one of the founders and a Director of Value in Enterprise, the responsible business consultancy company.</p>
        <a target="_blank" href="//www.cam.ac.uk/women-at-cambridge/profiles/shima-barakat">More about Shima</a>
      </div>
    </li>



    <li class="list-item">
      <div class="list-content">
        <h2>Tash Bromiley</h2>

                  <h3>Cloud Security Engineering</h3>
        
                  <h3>Capital One</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@TashJBromiley">@TashJBromiley</a></h3>
        

        <a target="_blank" href="//www.capitalonecareers.co.uk/our-schemes">
          <img src="img/speakers/TashBromiley.png" alt="" />
        </a>

        <p>Tash is a Forensic Computing graduate at Capital One UK and co-founder of a health hackathon event Hack Cancer and an advocate for diversity in technology teams. She’s all about breaking down stereotypes and challenging the status quo.</p>
        <a target="_blank" href="//www.capitalonecareers.co.uk/our-schemes">More about Capital One</a>
      </div>
    </li>



    <li class="list-item">
      <div class="list-content">
        <h2>Holly Smith</h2>

                  <h3>Freelance VFX Artist</h3>
        
                  <h3>Confetti Institute of Creative Technologies</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@hollysmithvfx">@hollysmithvfx</a></h3>
        

        <a target="_blank" href="//vimeo.com/hollysmithvfx">
          <img src="img/speakers/HollySmith.png" alt="" />
        </a>

        <p>Holly is a Freelance VFX Artist and Media & VFX Tutor at Confetti Institute of Creative Technologies. Working predominantly as a 3D artist creating content for film, TV & music videos; Holly has just begun teaching at Confetti in order to share her knowledge with & help inspire the next generation of VFX artists.</p>
        <a target="_blank" href="//vimeo.com/hollysmithvfx">More about Holly</a>
      </div>
    </li>



    <li class="list-item">
      <div class="list-content">
        <h2>Bec Smith</h2>

                  <h3>Multimedia Experimentalist</h3>
        
                  <h3>Urban Projections</h3>
        
                  <h3><a target="_blank" href="//twitter.com/@Urb_Projections">@Urb_Projections</a></h3>
        

        <a target="_blank" href="//www.urbanprojections.com/#!about/cjg9">
          <img src="img/speakers/RebeccaSmith.jpg" alt="" />
        </a>

        <p>With over ten years experience as a professional audio-visual performer, Bec has lead high quality, cross boundary projects, workshops, and seminars at both educational institutions and from within the community. Sharing her enthusiasm and passion for arts and technology Bec actively encourages new and creative ways of exchanging new media practice.</p>
        <a target="_blank" href="//www.urbanprojections.com/#!about/cjg9">More about Bec</a>
      </div>
    </li>

</ul>
</section>
