<section>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Workshops</h2>
      <hr class="star-primary">
    </div>
  </div>

<ul class="list">


    <li class="list-item">
      <div class="list-content">
        <h2>Get Appy</h2>
        <h3>Louise</h3>
        <h3>BCS Women</h3>
        <p>This workshop uses MIT App Inventor, an innovative beginner's introduction to programming and app creation that transforms the complex language of text-based coding into visual, drag-and-drop building blocks. The simple graphical interface grants even an inexperienced novice the ability to create a basic, fully functional app within an hour or less.  During the workshop you will create a ‘Meow’ app either on your Android device or on an emulator.</p>
        <p><b>15:00-15:45</b> Computer Lab A</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>What the Hack</h2>
        <h3>Zahra</h3>
        <h3>MLH</h3>
        <p>Major League Hacking is the student hackathon league. Each year, 75,000+ developers, designers, and makers attend 200+ official MLH hackathons in the United States, Canada, Mexico and Europe. Learn about what Hackathons are and how you can meet like-minded people, learn new things, and create cool technology. MLH EU started in Nottingham at HackNotts and are supporting WIT for the second year running.</p>
        <p><b>15:00-15:45</b> Seminar Room A</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Sounding Out</h2>
        <h3>Sonia</h3>
        <h3>Stiff Kittens</h3>
        <p>Sonia is a local DJ in Nottingham and pioneer for helping more women take the step into the sound engineering scene. Sonia is currently establishing a series of networks and beginner classes in Nottingham for women who want to get on the decks. At #WIT16 Sonia will be running a workshop on where to start with DJing. Attendess will get the chance to get their hands on some vinyl and make some noise in this interactive session.</p>
        <p><b>15:00-15:45</b> Seminar Room B</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>R U OK?</h2>
        <h3>The 3 Rmigos - Sarah J, Sarah P & Carola</h3>
        <h3>Capital One</h3>
        <p>Digging for Data Insight with R - A chance to experience first-hand how to derive insight from data with cleaning, visualisation and classification techniques, as well as an opportunity to work within the R programming environment, which has become widely used for data science in both industry and academia (no prior knowledge of R is needed to attend this workshop).</p>
        <p><b>15:00-15:45</b> Computer Lab B</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Kittens + Gifs = Smiles</h2>
        <h3>Katherine</h3>
        <h3>Code Club</h3>
        <p>Code on the web! Featuring kitten gifs and birthday cards, this workshop is an introduction to the language used for writing web pages, aimed at complete beginners or novices</p>
        <p><b>16:00-16:45</b> Computer Lab B</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Programming 101</h2>
        <h3>Jamie Tanna</h3>
        <h3>HackSoc</h3>
        <p>In the age where video games focus on graphics and fast-pased gameplay, it is sometimes nice to go back to basics. Learn Python Programming by building your first text-based adventure game. No coding knowledge required.</p>
        <p><b>16:00-16:45</b> Computer Lab A</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Top Secret Tech</h2>
        <h3>Paula</h3>
        <h3>DSTL</h3>
        <p>Paula (previous WIT organiser) is a graduate computer scientist in the Counter Terrorism and Security division at the Defence Security Technology Laboratory of The Ministry Of Defence and will be giving a talk on the World of Defence Science and Technology outside of the Lab.</p>
        <p><b>16:00-16:45</b> Seminar Room B</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Sex Matters</h2>
        <h3>Sheryasi</h3>
        <h3>Public Speaking Society</h3>
        <p>In the age where equality is of such great importance, we are still very far away from equality of women in technology. This talk aims to give guidance to women on how to build confidence and stand out through public speaking and leadership in order to breach the gap between men and women in technology.</p>
        <p><b>16:00-16:45</b> Seminar Room A</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Innovating Tech</h2>
        <h3>Holly & Yujin</h3>
        <h3>UsTwo</h3>
        <p>Ustwo is a digital product studio known for many innovative applications, including the award winning Monument Valley app. This workshop will give you a chance to try out some of the tools used to ideate (a crucial part of the technology creation process) and help translate problems into digital products. It will be fast-paced, interactive and fun!</p>
        <p><b>17:00-17:45</b> Seminar Room A</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>IoT Pong</h2>
        <h3>Houman</h3>
        <h3>Intel Software</h3>
        <p>Learn about the Internet of Things using the Intel Edison to run a fun demo of pong. Participants will assemble, write and load part the code required to play a 2 player pong game using the Edison (a tiny Computer-on-module offered by Intel as a development system for Internet of Things and wearable devices). No prior knowledge of code required</p>
        <p><b>17:00-17:45</b> Computer Lab A</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>Develop This</h2>
        <h3>Cedric</h3>
        <h3>Developer Mentor</h3>
        <p>Software Development as a Craft: Lessons from Mentees. - Hear and learn from the lessons of software developers who strived to improve their craft. Talk given by Cedric Kisema, a Resident apprentice at 8thLight. When not improving he’s own craft, Cedric spends time helping others improve theirs.</p>
        <p><b>17:00-17:45</b> Seminar Room B</p>
      </div>
    </li>


    <li class="list-item">
      <div class="list-content">
        <h2>R U OK?</h2>
        <h3>The 3 Rmigos - Sarah J, Sarah P & Carola</h3>
        <h3>Capital One</h3>
        <p>Digging for Data Insight with R - A chance to experience first-hand how to derive insight from data with cleaning, visualisation and classification techniques, as well as an opportunity to work within the R programming environment, which has become widely used for data science in both industry and academia (no prior knowledge of R is needed to attend this workshop).</p>
        <p><b>17:00-17:45</b> Computer Lab B</p>
      </div>
    </li>


</ul>
</section>
